@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Nyhed>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var nyheder = Model.Content.Children<Nyhed>();
    
}
<h1 class="page-container h1banner">@Umbraco.Field("nHead")</h1>
<div id="overlayImg">
    <div class="header">
        @{
            var typedMediaPickerSingle = Model.Content.GetPropertyValue<IPublishedContent>
            ("nImg");
            if (typedMediaPickerSingle != null)
            {
                <!--<p>@typedMediaPickerSingle.Url</p>-->
                <img src="@typedMediaPickerSingle.Url" alt="@typedMediaPickerSingle.GetPropertyValue(" alt")" />
            }
        }

    </div>

</div>

<div class="page-container">
    <div class="siteInfo">

        @Html.Partial("Breadcrumb")
    </div>
</div>


<div class="nyhed-container">
    <div class="wrapper">
        <div class="info">
            <ul>
                <li> <p> <strong>Udgivet &middot; @umbraco.library.FormatDateTime(Model.Content.GetPropertyValue("nDato").ToString(), "dd-MM-yyyy")</strong> </p> </li>
                <li> <p> <strong>Forfatter &middot; @Umbraco.Field("nForfatter")</strong> </p> </li>

            </ul>

        </div>

    </div>
    <div class="nyhed-body wrapper">
        
        <p>
            @Umbraco.Field("nBody")
        </p>
    </div>
</div>
